:root {
    --color:rgb(238, 177, 116);
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    
    background: var(--color);
}
.regreso{
    width: 30px;
    height: 25px;
    
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:  rgb(215, 215, 215);
    
}
.inform {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
}


.inform .datos {
    max-width: 750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    padding: 20px;
    grid-gap: 1rem;
}

.inform .datos img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    

}

.inform .datos .img-a{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
}

.inform .datos .img-b{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
}

.inform .datos .img-c{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;

}
.inform .datos .img-d{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
}
.inform .datos .img-e{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
    

}
.inform .datos .img-f{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
    grid-column-start: span 2;
}
.inform .datos .img-h{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
}
.inform .datos .img-i{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
}
.inform .datos .img-j{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
}
.inform .datos .img-l{
    background: rgb(250, 250, 250);
    text-align: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.65rem;
}
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:56px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #da9551;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  

  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  

  
  #form {
    position: relative;
    width: 500px;
    margin: 20px auto 50px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 300px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  
  textarea {
    width: 300px;
    max-width: 300px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  #submit {
    width: 300px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }